body{
    background-color: aliceblue;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    float: left;
    width: 200px;
    height: 40px;
    background-color: gray   ;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
 
ul li a{
    text-decoration: none ;
    color: white;
    display: block;
}

ul li a:hover{
    background-color: rgb(44, 48, 48);
}

ul li ul li{
    display: none;
}  

ul li:hover ul li{
    display: block;
}

.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin:  240px auto;
}

.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background:#ff0;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(43, 43, 41);
    transition:0.5s;
    z-index: 1;
}

.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius:50% ;
}

.container .box .icon .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;

}

.container .box:hover .icon .fa{
    font-size: 40px;
}

.container .box  .content{
    position: absolute;
    top: 100px;
    height: calc(100% - 100%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 00.5s;
    opacity: 0;
}

.container .box:hover .content{
    top: 100px;
    opacity: 1;
}

.container.box .content h3{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.container .box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
}

.container .box:nth-child(1) .icon{
    background: rgb(72, 197, 206);
}

.container .box:nth-child(1){
    background: rgb(134, 56, 92);
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid red;
    padding: 5px;
    border-radius: 9px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: blueviolet;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -20%;
}

#radio3:checked ~.first{
    margin:-left -40%;;
}

#radio4:checked ~.first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 3px solid red;
    padding: 5px;
    border-radius: 9px;
    transition: 1s;
}

#radio:checked ~ .navigation-auto .auto-btn1{
  background:  #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background:  #40D3DC;
  }

  #radio3:checked ~.navigation-auto .auto-btn3{
    background:  #40D3DC;
  }

  #radio4:checked ~.navigation-auto .auto-btn4{
    background: #40D3DC;
  }


